*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Main navigation styling */
.main-nav{
    display:flex;
    justify-content: space-between;
    width:100vw;
    padding:1rem;
}

/* Styling for the link for the high score page */
.high-score{
    color: rgb(84, 18, 145);
    font-weight:bold;
    transition:all 0.2s ease-in-out;
}

.high-score:hover{
    color: rgb(128, 100, 155);
    cursor: pointer;
    transform:scale(1.05);
}

/* Sets size of main card */
.main-board{
    margin:auto;
    padding-top:1rem;
    width:400px;
    text-align: center;
}


.main-board h1,.main-board h2,.main-board h3,.main-board p{
    margin:1.5rem;
}

h1{
    font-size: 2rem;
}

/* Style for high score board */
.score-container>p{
    background-color: rgb(197, 175, 218);
    margin:1rem auto;
    padding:0.5rem;
    width: fit-content;
    min-width: 200px;
    text-align: center;
}

/* Style for buttons and answers */
button,li{
    background-color: rgb(84, 18, 145);
    color:rgb(206, 206, 206);
    padding:0.2rem 1rem;
    border-radius: 0.4rem;
    margin:0.1rem;
}

button:hover,li:hover{
    background-color: rgb(118, 80, 153);
    color:white;
    cursor: pointer;
}

/* Ensures the numbers and content are inside the background */
li{
    list-style-position: inside;
    width:fit-content;
}

/* Style for scoreboard input field */
input{
    width:100%;
    max-width: 400px;
}

/* Style for the Correct or Wrong pop up */
.result>p{
    margin-top:1rem;
    color:rgb(153, 153, 153);
    font-style: italic;
    border-top:1px solid rgb(153, 153, 153);
}

/* Better layout for smaller screens */
@media screen and (max-width:500px) {
    .main-board{
        width: 100%;
        padding:0rem 1rem;
    }
    
    .score-container>p{
        min-width: none;
    }

    ::placeholder{
        font-size: 0.8rem;
    }

}