*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.main-nav{
    display:flex;
    justify-content: space-between;
    width:100vw;
    padding:1rem;
}

.high-score{
    color: rgb(84, 18, 145);
    font-weight:bold;
    transition:all 0.2s ease-in-out;
}

.high-score:hover{
    color: rgb(128, 100, 155);
    cursor: pointer;
    transform:scale(1.05);
}

h1{
    font-size: 2rem;
}
.main-board{
    margin:auto;
    padding:2rem 4rem;
    width:50vw;
    text-align: center;
}

.score-container>p{
    background-color: rgb(148, 127, 168);
    margin:1rem auto;
    border-radius: 2rem;
    padding:0.5rem;
    width:50vw;
    min-width: fit-content;
    text-align: center;

}

.answer-container{
    margin:auto;
}

button,li{
    background-color: rgb(84, 18, 145);
    color:rgb(206, 206, 206);
    padding:0.2rem 1rem;
    border-radius: 0.4rem;
    margin:0.1rem;
}

button:hover,li:hover{
    background-color: rgb(118, 80, 153);
    color:white;
    cursor: pointer;
}

li{
    list-style-position: inside;
    width:fit-content;
}

.result>p{
    margin-top:1rem;
    height: 10rem;
    color:rgb(153, 153, 153);
    font-style: italic;
    border-top:1px solid rgb(153, 153, 153);
}

input{
    width:100%;
    max-width: 400px;
}

@media screen and (max-width:500px) {
    .main-board{
        width: 100%;
    }
    ::placeholder{
        font-size: 0.8rem;
    }

}